* {
  /* padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; */
}

body {
  margin: 0px;
  padding: 0px;
  width: 98.9vw;
}

a {
  text-decoration: none;
  color: inherit;
}
